
body
  background-color: #333
  color: white
  font-family: 'Roboto Slab', serif
  padding:20px

$color1 : #e41a1c
$color2 : #377eb8
$color3 : #4daf4a
$color4 : #984ea3
$color5 : #ff7f00
$color6 : #ffff33
$color7 : #a65628

#settings
  width: 100%
  padding: 10px

  button
    margin: 5px

  .setting
    width:200px
    min-height: 40px
    padding: 10px
    background-color: #444
    border: 1px solid #444
    float: left
    margin-left: 10px

#scale

  clear: both
  width: 100%
  padding: 10px

  %note
      color: black
      float: left
      display: inline-box
      width: 40px
      padding: 10px
      margin: 10px
      text-align: center

  .note1
    @extend %note
    background-color: $color1
  .note2
    @extend %note
    background-color: $color2
  .note3
    @extend %note
    background-color: $color3
  .note4
    @extend %note
    background-color: $color4
  .note5
    @extend %note
    background-color: $color5
  .note6
    @extend %note
    background-color: $color6
  .note7
    @extend %note
    background-color: $color7
    


svg
  margin-top: 40px
  font-size: 2em
  .svg_note1
    fill: $color1
    stroke : white
    stroke-width: 3
  .svg_note2
    fill: $color2
    stroke : black
    stroke-width: 3
  .svg_note3
    fill: $color3
    stroke : black
    stroke-width: 3
  .svg_note4
    fill: $color4
    stroke : black
    stroke-width: 3
  .svg_note5
    fill: $color5
    stroke : black
    stroke-width: 3
  .svg_note6
    fill: $color6
    stroke : black
    stroke-width: 3
  .svg_note7
    fill: $color7
    stroke : black
    stroke-width: 3
  .svg_nonote
    fill: none
