
body
  background-color: #333
  color: white
  font-family: 'Roboto Slab', serif
  padding:20px
  text-align: right


$color1  : #a6cee3
$color2  : #1f78b4
$color3  : #b2df8a
$color4  : #33a02c
$color5  : #fb9a99
$color6  : #e31a1c
$color7  : #fdbf6f
$color8  : #ff7f00
$color9  : #cab2d6
$color10 : #6a3d9a
$color11 : #ffff99
$color12 : #b15928


#settings
  display: flex
  justify-content: flex-end
  width: 100%
  padding: 10px

  button
    margin: 5px

  .setting
    width:200px
    min-height: 40px
    padding: 10px
    background-color: #444
    border: 1px solid #444
    margin: 4px

#scale

  display: flex
  justify-content: flex-end
  width: 100%
  padding: 10px

  %note
      color: black
      width: 40px
      padding: 10px
      margin: 4px
      text-align: center
      border:1px solid #666

  .nonote
    @extend %note
    background-color: #333
  .note1
    @extend %note
    background-color: $color1
  .note2
    @extend %note
    background-color: $color2
  .note3
    @extend %note
    background-color: $color3
  .note4
    @extend %note
    background-color: $color4
  .note5
    @extend %note
    background-color: $color5
  .note6
    @extend %note
    background-color: $color6
  .note7
    @extend %note
    background-color: $color7
  .note8
    @extend %note
    background-color: $color8
  .note9
    @extend %note
    background-color: $color9
  .note10
    @extend %note
    background-color: $color10
  .note11
    @extend %note
    background-color: $color11
  .note12
    @extend %note
    background-color: $color12
    


svg
  margin-top: 40px
  font-size: 2em

  .svg_rootnote
    stroke : white!important

  .svg_note1
    stroke : black
    fill: $color1
    stroke-width: 3
  .svg_note2
    fill: $color2
    stroke : black
    stroke-width: 3
  .svg_note3
    fill: $color3
    stroke : black
    stroke-width: 3
  .svg_note4
    fill: $color4
    stroke : black
    stroke-width: 3
  .svg_note5
    fill: $color5
    stroke : black
    stroke-width: 3
  .svg_note6
    fill: $color6
    stroke : black
    stroke-width: 3
  .svg_note7
    fill: $color7
    stroke : black
    stroke-width: 3
  .svg_note8
    fill: $color8
    stroke : black
    stroke-width: 3
  .svg_note9
    fill: $color9
    stroke : black
    stroke-width: 3
  .svg_note10
    fill: $color10
    stroke : black
    stroke-width: 3
  .svg_note11
    fill: $color11
    stroke : black
    stroke-width: 3
  .svg_note12
    fill: $color12
    stroke : black
    stroke-width: 3
  .svg_nonote
    fill: none
